<% if @frequency_type.errors.any? %>
	<div id="errors">
			<p>Please correct the following <%= pluralize(@frequency_type.errors.count, "error") %></p>
			<ul>
				<% @frequency_type.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@frequency_type) do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.submit @frequency_type.new_record? ? "Create frequency type" : "Update frequency type" %>
	</div>
<% end %>