<h1>Institutions</h1>
<%= form_tag({controller: "institutions", action: "index"}, method: "get" ) do %>

	<%= label_tag(:search, "Name:") %>	
	<%= text_field_tag(:search, @search) %>
	
	<%= label_tag(:course_id, "Course:") %>
	<%= collection_select(nil, :course_id, Course.all, :id, :name, { selected: @course_id, include_blank: true  })  %>

	<%= hidden_field_tag "search_form", 1 %>
	<%= submit_tag("Search") %>
<% end %>


<p><%= pluralize(@institutions.count, "institution".capitalize) %> found</p>
<%= link_to 'New Institution', new_institution_path %>
<table>
<tbody>
	<tr>
		<th>Action</th>
		<th>Institution</th>
		<th>Campus</th>
	</tr>
	<%= render partial: "institution", collection: @institutions %>
</tbody>
</table>

<%= will_paginate @institutions %>