<h2><%= @campu.name %></h2>
<% if @campu.errors.any? %>
	<div id="errors">
			<p>Please correct the following <%= pluralize(@campu.errors.count, "error") %></p>
			<ul>
				<% @campu.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@campu) do |f| %>
	<div>
		<%= f.label :institution_id %>
		<%= f.collection_select(:institution_id, Institution.all, :id, :name, {selected: @institution.id }) %>
	</div>
	<div>
		<%= f.label :city_id %>
		<%= f.collection_select(:city_id, City.all, :id, :name) %>
	</div>
	<div>
		<%= f.label :country_id %>
		<%= f.collection_select(:country_id, Country.all, :id, :name) %>
	</div>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>
	<div>
		<%= f.label :state %>
		<%= f.text_field :state %>
	</div>
	<div>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<div>
		<%= f.submit @campu.new_record? ? "Create Campus" : "Update Campus" %>
	</div>
<% end %>