<h1>Campus</h1>

<p><%= pluralize(@campus.count, "campus".capitalize) %> found</p>
<%= link_to 'New Campus', new_campu_path %>
<table>
	<tbody>
		<tr id="headerrow">
			<th>Action</th>
			<th>Institution</th>
			<th>Name</th>
			<th>City</th>
		</tr>
		<%= render partial: "campu", collection: @campus %> 		
	</tbody>
</table>
<%= will_paginate @campus %>

<% content_for :aside do %>
	<%= render partial: "sidebar"  %>
<% end %>
