<h1>Students</h1>

<%= form_tag({controller: "students", action: "index"}, method: "get" ) do %>

	<%= label_tag(:search, "Name:") %>	
	<%= text_field_tag(:search, @search) %>
	
	<%= hidden_field_tag "search_form", 1 %>
	<%= submit_tag("Search") %>
<% end %>


<p><%= @students.count %> Students Found</p>
<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
		<%= render partial: "student", collection: @students %> 
	</tbody>
</table>
<%= will_paginate @students %>