<h1><%= @application.student %></h1>
<p><b>Institution:</b> <%= @application.course_option.institution.name %></p>
<p><b>Course:</b> <%= @application.course_option.course.name %></p>
<p><b>Start Date:</b> <%= @application.start_date_field %></p>

<p><b>Total to Pay:</b> <%= @total_cost %> </p>
<p><b>Total Paid:</b> <%= @total_paid %> on <%= @application.payment_date_field %></p>


<p>
<% if !@total_cost.nil? and !@total_paid.nil? %>
	<b>Balance:</b> <%= @total_cost - @total_paid %> by 
<% end %>
<b>Payment Due Date:</b> <%= @application.payment_due_date_field %></p>

<p>
<%= link_to "Edit Application", edit_application_path(@application) %> | 
<%= link_to "Delete", application_path(@application), method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'All Applications', applications_path %>
</p>