			<% enrolled = Application.where('course_option_id = ?', course_option.id).size %>
			<tr>
				<td class="action"><%= link_to "View", course_option %>
				 | <%= link_to "Edit", edit_course_option_path(course_option) %> 
| <%= link_to "Delete", course_option_path(course_option), method: :delete, data: { confirm: 'Are you sure?' } %> 
| <%= link_to "New Application", new_application_path(:course_option_id => course_option.id) %>  
| <%= link_to 'New Intake', new_course_intake_path(:course_option_id => course_option.id ) %>
				</td>
				<td><%= course_option.course %></td>
				<td><%= course_option.institution %></td>
				<td><%= enrolled %></td>
				<td><%= course_option.course_intakes.size %></td>
			</tr>