<h1>Courses</h1>

<%= form_tag({controller: "course_options", action: "index"}, method: "get" ) do %>

	<%= label_tag(:course_id, "Course:") %>
	<%= collection_select(nil, :course_id, Course.all, :id, :name, { selected: @course_id, include_blank: true  })  %>
	
	<%= label_tag(:institution_id, "Institution:") %>
	<%= collection_select(nil, :institution_id, Institution.all, :id, :name, { selected: @institution_id, include_blank: true  })  %>

	<%= hidden_field_tag "search_form", 1 %>
	<%= submit_tag("Search") %>
<% end %>

<p><%= pluralize(@course_options.count, "course".capitalize) %> found</p>
<%= link_to 'New Course', new_course_option_path %>
<table>
	<tbody>
		<tr id="headerrow">
			<th>Action</th>
			<th>Course</th>
			<th>Institution</th>
			<th>Enrolled</th>
			<th>Intake Dates</th>
		</tr>
		<%= render partial: "course_option", collection: @course_options %> 		
	</tbody>
</table>