<tr>
	<td class="action"><%= link_to "View", institution %>
		 | <%= link_to "Edit", edit_institution_path(institution) %>
		 | <%= link_to "Delete", institution_path(institution), method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
	<td><%= institution %></td>
	<td><%= institution.website %></td>
</tr>