<tr>
	<td class="action"><%= link_to "View", course %>
	<% #if user_signed_in? %>
	 | <%= link_to "Edit", edit_course_option_path(course) %>
	 <% #end %>
	</td>
	<td><%= course.institution %></td>
	<td><%= course.cost %></td>
	<td><%= course.duration %></td>
</tr>