<h1><%= @course.name %></h1>
<p><b>Description:</b> <%= @course.description %></p>

<p><%= link_to "Edit Course", edit_course_path(@course) %></p>

<% if @course.course_options.size > 0 %>
<p>Courses coming up</p>
<table>
	<tbody>
		<tr id="headerrow">
			<th>Action</th>
			<th>Institution</th>
			<th>Cost</th>
			<th>Duration</th>
			<th>Capacity</th>
			<th>Intake Date</th>
		</tr>
		<% @course.course_options.order('intake_date').each do |course_option| %>
			<tr>
				<td class="action"><%= link_to "View", course_option %>
				<% #if user_signed_in? %>
				 | <%= link_to "Edit", edit_course_option_path(course_option) %>
				 <% #end %>
				</td>
				<td><%= course_option.institution %></td>
				<td><%= course_option.cost %></td>
				<td><%= course_option.duration %> days</td>
				<td><%= course_option.capacity %></td>
				<td><%= course_option.start_date_field %></td>

			</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<p>No Record registered yet</p>
<% end %>