<tr>
	<td class="action"><%= link_to "View", country %>
 | <%= link_to "Edit", edit_country_path(country) %>
 | <%= link_to "Delete", country_path(country), method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
	<td><%= country.short_name %></td>
	<td><%= country %></td>
</tr>