<% if @country.errors.any? %>
	<div id="errors">
			<p>Please correct the following <%= pluralize(@country.errors.count, "error") %></p>
			<ul>
				<% @country.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@country) do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :short_name %>
		<%= f.text_field :short_name %>
	</div>
	<div>
		<%= f.submit @country.new_record? ? "Create Country" : "Update Country" %>
	</div>
<% end %>