<% if @city.errors.any? %>
	<div id="errors">
			<p>Please correct the following <%= pluralize(@city.errors.count, "error") %></p>
			<ul>
				<% @city.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@city) do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.submit @city.new_record? ? "Create City" : "Update City" %>
	</div>
<% end %>