<% if @campu.errors.any? %>
	<div id="errors">
			<p>Please correct the following <%= pluralize(@campu.errors.count, "error") %></p>
			<ul>
				<% @campu.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@campu) do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.submit @campu.new_record? ? "Create Campus" : "Update Campus" %>
	</div>
<% end %>