<% if @course_option.errors.any? %>
	<div id="errors">
			<p>Please correct the following <%= pluralize(@course_option.errors.count, "error") %></p>
			<ul>
				<% @course_option.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>

<%= form_for(@course_option) do |f| %>
	<div>
		<%= f.label :institution_id %>
		<%= f.collection_select(:institution_id, Institution.all, :id, :name, prompt: true) %>
	</div>
	<div>
		<%= f.label :course_id %>
		<%= f.collection_select(:course_id, Course.all, :id, :name, prompt: true) %>
	</div>
	<div>
		<%= f.label :intake_date %>
		<%= f.date_select :intake_date %>
	</div>		
	<div>
		<%= f.label :capacity %>
		<%= f.select(:capacity, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25], prompt: true) %>
	</div>
	<div>
		<%= f.label :duration, 'Duration in Days' %>
		<%= f.text_field :duration %>
	</div>
	<div>
		<%= f.label :cost %>
		<%= f.text_field :cost %>
	</div>
	<div>
		<%= f.label :more_information %>
		<%= f.text_area :more_information, :size => "60x10" %>
	</div>	
	<div>
		<%= f.submit @course_option.new_record? ? "Create Course" : "Update Course" %>
	</div>
<% end %>