<h1>Reports</h1>

<% if @id < 0 %>
	Select one of the Reports Available
<% else %>
	<h2><%= @list %></h2>
<% end %>

<% if @id == 0 %>	
		<% if @search_form == 1 %>
			<% @date_form1 = @date1 %>
			<% @date_form2 = @date2 %>
		<% else %>
			<% @date_form1 = Date.today %>
			<% @date_form2 = Date.today + 90 %>
		<% end %>

		<%= form_tag({controller: "reports", action: "report"}, method: "get" ) do %>
		  <%= label_tag(:date1, "From:") %>
		  <%= select_date @date_form1, prefix: :date1 %>

		  <%= label_tag(:date2, "To:") %>
		  <%= select_date @date_form2, prefix: :date2 %>

		  <%= hidden_field_tag "id", @id %>
		  <%= hidden_field_tag "search_form", 1 %>

		  <%= submit_tag("Search") %>
		<% end %>

		<br><b><%= @enrolments.size %></b> enrolments between <%= @date1.strftime('%d/%m/%Y') %> and <%= @date2.strftime('%d/%m/%Y') %> 
		<table>
		<tbody>
			<tr>
				<th>User</th>
				<th>Course Name</th>
				<th>Institution</th>
				<th>Start Date</th>
			</tr>
			<%= render partial: "enrolment", collection: @enrolments %> 
		</tbody>
		</table>
<% elsif @id == 1 %>
		<br><b><%= @courses.size %></b> Popular courses
		<table>
		<tbody>
			<tr>
				<th>Course Name</th>
				<th>Institution</th>
				<th>Students</th>
			</tr>
			<%= render partial: "course", collection: @courses %> 
		</tbody>
		</table>
<% elsif @id == 2 %>
		<br><b><%= @students.size %></b> Students
		<table>
		<tbody>
			<tr>
				<th>Student</th>
				<th>Date Birth</th>
			</tr>
			<%= render partial: "student", collection: @students %> 
		</tbody>
		</table>

<% elsif @id == 3 %>
		<% if @search_form == 1 %>
			<% @date_form1 = @date1 %>
			<% @date_form2 = @date2 %>
		<% else %>
			<% @date_form1 = Date.today %>
			<% @date_form2 = Date.today + 90 %>
		<% end %>

		<%= form_tag({controller: "reports", action: "report"}, method: "get" ) do %>
		  <%= label_tag(:date1, "From:") %>
		  <%= select_date @date_form1, prefix: :date1 %>

		  <%= label_tag(:date2, "To:") %>
		  <%= select_date @date_form2, prefix: :date2 %>

		  <%= hidden_field_tag "id", @id %>
		  <%= hidden_field_tag "search_form", 1 %>

		  <%= submit_tag("Search") %>
		<% end %>

		<br><b><%= @payments.size %></b> Possible payments between <%= @date1.strftime('%d/%m/%Y') %> and <%= @date2.strftime('%d/%m/%Y') %> 
		<table>
		<tbody>
			<tr>
				<th>Student</th>
				<th>Institution</th>
				<th>Course</th>
				<th>Total to Pay</th>
				<th>Due Date</th>
			</tr>
			<%= render partial: "payment", collection: @payments %> 
		</tbody>
		</table>
<% end %>

<% content_for :aside do %>
	<%= render partial: "sidebar"  %>
<% end %>
